

body{
    background-image: linear-gradient(rgb(166, 168, 189),rgb(119, 162, 190));
    height: 100vh;
}


.logo {
    display: block;
    margin: auto;
    height: 50px;
    width: 50px;
}

h1 {
    margin-top:10px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}


.container {
    max-width: 900px;
    /* border: 2px solid black; */
    padding: 20px;
    margin: auto;
    margin-top: 12px;
    border-radius: 6px;
    height: 60vh;
    overflow-y: auto;
    overflow-wrap: break-word;
    margin-bottom: 12px;
}

.message {
    width: 52%;
    padding: 10px;
    margin: 12px 10px;
    border-radius: 2px solid black;
    border-radius: 10px;
}

.left {
    background-color: #ffffffec;
    float: left;
    clear: both;
}

.right {
    background-color: #90b17dec;
    float: right;
    clear: both;
}

#send-container {
    display: block; text-align: center;
    max-width: 1025px;
    margin: auto;
    justify-content: center;
    align-items: center;
    
    width: 100%;
}

.btn {
    width: 9%;
    margin: 0.5px;
    cursor: pointer;
    border: 2px solid rgb(160, 60, 60);
    height: 30px;
    border-radius: 4px;
}

#messageInp {
    width: 80%;
    border: 2px solid black;
    height: 30px;
    border-radius: 10px;
    font-size: 18px;
}