<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat_app</title>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="client.js"></script>
    <link rel="stylesheet" href="style_chat.css">
    <script>
        const ROOM_ID = "<%= roomId %>";
    </script>
</head>
<body>
        <nav>
            <img class="logo" src="https://img.freepik.com/free-vector/chat-speech-bubble-icon_23-2147501656.jpg?size=338&ext=jpg" alt="No loading">
        </nav>

        <h1>MS Teams Clone - Video Chat App</h1>

        <div class="container">
              <!-- <div class="message left">Hi</div>
              <div class="message right">Hello</div> -->
        </div>

        <div class="send">
             <form action="#" id="send-container" >
                 <input type="text" name="messageInp" id="messageInp" required placeholder="Type a new message">
                 <button class="btn" type="submit">Send</button>
                </form>


        </div>
</body>
</html>