<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat_app</title>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="client.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style_chat.css">
    <script>
        const ROOM_ID = "<%= roomId %>";
    </script>
</head>
<body>
        <!-- Just an image -->
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#" >
            <!-- <img src="/docs/4.0/assets/brand/bootstrap-solid.svg"  alt=""> -->
            <img width="30" height="30" class="d-inline-block align-top" src="https://img.freepik.com/free-vector/chat-speech-bubble-icon_23-2147501656.jpg?size=338&ext=jpg" alt="No loading">
            MS Teams Clone - Video Chat App
            </a>

            <form class="form-inline">
                <button class="btn btn-outline-success" type="button" onclick="joinVideo()">Join Video</button>
                <button class="btn btn-outline-success" type="button" onclick="leaveRoom()">Leave Room</button>
              </form>
        </nav>


        <div class="container">
         
        </div>

        <div class="send">
             <form action="#" id="send-container" >
                 <input type="text" name="messageInp" id="messageInp" required placeholder="Type a new message">
                 <button class="my_btn" type="submit">Send</button>
                </form>


        </div>
</body>
</html>